.blog-img {
   height: 450px;
   overflow: hidden;
}

.blog-article {
   text-align: center;
   /*  background-color: rgb(171, 147, 194); */
   margin-top: 32px;
   margin-bottom: 32px;
   padding: 20px;
}


.blog-article p {
   padding-top: 10px;
   font-size: 20px;
}

.row {
   display: flex;

}

.more-post {
   flex-direction: column;
   align-items: center;
}

.blogpost-meta {
  /* background-color: brown; */
   display: flex;
   justify-content: space-between;

}

.author-info {
   margin: 12px 0;
}


.author-info div {
padding: 2px 0px;
font-family: var(--font2);

}

