@media screen and (max-width:1100px) {
    .navigation {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .nav-left {
        flex-direction: column;
        text-align: center;
    }

    .home-article {
        flex-direction: column;
    }

    .home-article-img {
        text-align: center;

    }

    .home-article img {
        width: 62vw;
    }


    .blog-img {
        height: 250px;

    }

    .form-input {
        width: 50%;
    }

    .form-box input,
    textarea {
        width: 66vw;


    }

    .row {
        flex-direction: column;
    }




}