* {
    margin: 0;
    padding: 0;
}

.navigation {
    margin-top: 25px;
    font-family: var(--font1);
    height: 74px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
}

.nav-left span {
    font-size: 35px;
    padding-bottom: 5px;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 22px;

}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);

}

.nav-left ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;

}

.content {
    height: 100%;
    display: flex;
    padding: 9px;
    position: relative;

}

.content::after {
    content: "";
    background-image: url('../img/img3.jpg');
    position: absolute;
    width: 99%;
    height: inherit;
    opacity: 0.35;
    border-radius: 8px;
}

.content-left {
    font-family: var(--font1);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    z-index: 1;
}






.home-articles {
    padding: 18px;
    background-color: rgb(226, 242, 246, 0.5);
    border-radius: 8px;
}





.home-article {
    display: flex;
    padding: 25px;

}

.home-article img {
    width: 250px;
}


.home-article-content {
    align-self: center;
    padding: 25px;

}

.home-article-content a {
    margin: 1px;
    text-decoration: none;
    color: black
}



/*.home-articles{} */
.footer {
    height: 50px;
    background-color: rgb(158, 186, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}