@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
    --main-bg-color: rgb(74, 146, 234);
    --font1: 'Open Sans', sans-serif;
    --font2: 'Roboto', sans-serif;

}


.center {
    text-align: center;
}


.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font2);
}



.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.my-2{
    margin-top: 32px;
    margin-bottom: 32px;
}


.btn {
    padding: 0px 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: white;
    background: var(--main-bg-color);
}

.form-input {
    padding: 0px 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
}


.form-box input, textarea{
    width: 44vw;
    margin: 5px 0;
    padding: 6px ;
    border: 2px solid var(--main-bg-color);
    border-radius: 2px;


}